@charset "UTF-8";
.pushy__btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: inline-block;
  border: none;
  border-radius: .3em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .pushy__btn:active {
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    margin-top: .25em;
    padding-bottom: .5em; }
  .pushy__btn:active, .pushy__btn:focus {
    outline: none; }
  .pushy__btn--blue {
    background-color: #3498db; }
  .pushy__btn--green {
    background-color: #1abc9c; }
  .pushy__btn--red {
    background-color: #e65d4f; }
  .pushy__btn--lg {
    font-size: 1.5em; }
  .pushy__btn--df {
    font-size: 1.25em; }
  .pushy__btn--md {
    font-size: 1em; }
  .pushy__btn--sm {
    font-size: 0.75em; }

html {
  height: 100%; }

body {
  background-color: #FFF;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  @media (max-width: 800px) {
    body main {
      display: none; }
    body:after {
      content: "👋";
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px; }

section {
  padding: 60px 0; }
  section:not(:last-child) {
    border-bottom: 1px solid #DDD; }
  section pre {
    margin: 0; }
  section h2 {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 0; }
  section .blue {
    color: #3498db; }
  section .green {
    color: #1abc9c; }
  section .red {
    color: #e65d4f; }

.title {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 4vw; }
