html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background: #ddd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

div {
  margin-bottom: 20px; }

.btn {
  display: inline-block;
  border: none;
  border-radius: .3em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 -0.2em 0 rgba(255, 255, 255, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle; }
  .btn:active {
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05), 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.25);
    margin-top: .25em;
    padding-bottom: .5em; }

.btn--blue {
  background-color: #387ef5; }

.btn--green {
  background-color: #32db64; }

.btn--red {
  background-color: #f53d3d; }

.btn--lg {
  font-size: 1.25em; }

.btn--md {
  font-size: 1em; }

.btn--sm {
  font-size: .75em; }
