// Imports
// -----------
@import "variables.scss";
@import "base.scss";

// Page Style
// -----------

html {
  height: 100%;
}

body {
  background-color: #FFF;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media (max-width: 800px) {
    main { display: none; }

    &:after {
      content: "👋";
      font-size: 60px;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 60px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #DDD;
  }

  pre {
    margin: 0;
  }

  h2 {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 0;
  }

  .blue { color: $blue; }
  .green { color: $green; }
  .red { color: $red; }
}

// Title
.title {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 4vw;
}
