// Imports
// -----------
@import "variables.scss";
@import "base.scss";

// Page Style
// -----------

html {
  height: 100%;
}

body {
  background-color: #555c73; //#6f86d6
  min-height: 100%;
  margin: 0;
  padding: 20px;
}

section {
  padding: 40px 0;

  h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
  }

  .blue {
    color: $blue;
  }
  .green {
    color: $green;
  }
  .red {
    color: $red;
  }
}

// 3D Title
// -----------
.title {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsl(174,5%,80%),
               0 2px 0 hsl(174,5%,75%),
               0 3px 0 hsl(174,5%,70%),
               0 4px 0 hsl(174,5%,66%),
               0 5px 0 hsl(174,5%,64%),
               0 6px 0 hsl(174,5%,62%),
               0 7px 0 hsl(174,5%,61%),
               0 8px 0 hsl(174,5%,60%),
               0 0 5px rgba(0,0,0,.05),
               0 1px 3px rgba(0,0,0,.2),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.2),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.3);
  letter-spacing: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 100px;
}
